body 
{
	color:black;
	background-color:black;
	background-image:url(TERRAIN_FOOTBALL.jpg); 
	background-attachment:fixed;
	background-position:center center;
	background-repeat: no-repeat;
	background-size : cover;
	font-family:"times new roman", times, serif;
	
	DISPLAY: FLEX;
	FLEX-DIRECTION: column;
	
	justify-content: center;
	align-items : center;
	
	height: 100vh;
    margin: 0;
}

a
{
    color: black;
    font-family:"times new roman", times, serif;
}

#error{color :red;}

#hidden_div1 {
    display: none;
}

#hidden_div2 {
    display: none;
}

.table1 
{
	border: solid black 2px;
	background-color:white; 
 	width:400px;
 	border-collapse:collapse; 
}

.table2 
{
	border: solid black 2px;
	background-color:white; 
	width:400px; 
	border-collapse:collapse; 
}

.table3
{
	border: solid black 2px;
	background-color:white; 
	width:75%;
 	border-collapse:collapse; 
}

.legend
{
 	text-align:center;
	font-weight:bold;
}