<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout.html :: layout(~{::title}, ~{::body})}">

	<head>
		<title>S'inscrire</title>
	</head>

	<body class="body2" onload="showDiv1(document.getElementById('type'))">
	
		<form id="formInscription" method="POST" action="inscription">
	
			<div class="table2">
				<legend>S'INSCRIRE SUR L'APPLICATION MERCATO</legend>
			</div>
			
			<div class="table2">

				  <div class="form-group">
				    <label for="exampleInputLogin">Login</label>
				    <input type="text" class="form-control" placeholder="Login" th:value="${login}" name="login" aria-describedby="loginHelp">
				    <small id="loginHelp" class="form-text text-muted">Conservez bien ce login, il ne pourra pas être modifier !</small>
				  </div>
				  <div class="form-group">
				    <label for="exampleInputPassword">Password</label>
				    <input type="password" class="form-control" placeholder="Password" name="password">
				  </div>
				  
				<table class="tableau">
					<tr>
						<td>Type de compte ?</td>
						<td>
							<select name="type" id="type" class="form-control margeLeft" onchange="showDiv1(this)">
								<option th:selected="${type}=='joueur'" value="Joueur">Joueur</option>
								<option th:selected="${type}=='manager'" value="Manager">Manager</option>
							</select>
						</td>
					</tr>
				</table>
			</div>
					
			<div id="hidden_div1" class="table2">
				<table class="tableau">
					<tr>
						<td>Créer son équipe</td>
						<td><select name="choix" id="choix" class="form-control margeLeft" onchange="showDiv2(this)">
								<option th:selected="${choix}=='non'" value="non">Non</option>
								<option th:selected="${choix}=='oui'" value="oui">Oui</option>
							</select>
						</td>
					</tr>
				</table>
			</div>
			<div id="hidden_div2" class="table2">
				<table class="tableau">
					<tr>
						<td>Nom d'équipe</td>
						<td><input type="text" name="nom_equipe" th:value="${nom_equipe}" class="form-control margeLeft" placeholder="Nom d'equipe"></td>
					</tr>
					<tr>
						<td>Budget de l'équipe</td>
						<td><input type="number" name="budget" th:value="${budget}" class="form-control margeLeft" placeholder="Budget"></td>
					</tr>
				</table>
			</div>
			
			<input type="hidden"
                th:name="${ _csrf.parameterName }"
                th:value="${ _csrf.token }"/>	
			
			<div class="table1">
				<div>
					<button type="submit" id="valider" class="btn btn-success">S'inscrire <i class="fas fa-paper-plane"></i></button>
					<a href="accueil" class="btn btn-danger right" role="button"><i class="fas fa-home"></i> Retour</a>
					<span class="error" th:if="${errorLogin!=null}" th:text="${errorLogin}"></span>
					<span class="error" th:if="${errorType!=null}" th:text="${errorType}"></span>
					<span class="error" th:if="${errorEquipe!=null}" th:text="${errorEquipe}"></span>
				</div>
			</div>
	
		</form>
	
		<script>
			function showDiv1 (element)
			{
				if (element.value == "Manager") {
			    document.getElementById("hidden_div1").style.display = 'block' ;
			    showDiv2(document.getElementById("choix"));
				} else if (element.value == "Joueur") {
				document.getElementById("hidden_div1").style.display = 'none' ;
				document.getElementById("hidden_div2").style.display = 'none' ;
				}
			}
			function showDiv2(element)
			{
				if (element.value == "oui") {
					document.getElementById("hidden_div2").style.display = 'block' ;
				} else if (element.value == "non") {
					document.getElementById("hidden_div2").style.display = 'none' ;
				}
			}
		</script>
	
	</body>

</html>