<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout.html :: layout(~{::title}, ~{::body})}">
	
	
	<head>
		<title>Liste des joueurs</title>
	</head>
	
	<body class="body4">
		
		<div class="table1">
			<legend>VOICI TES STARS</legend>
			<table class="table">
				<thead>
					<tr align="center">
						<th scope="col">id</th>
						<th scope="col">Nom</th>
						<th scope="col">Prenom</th>
						<th scope="col">Age</th>
						<th scope="col">Poste</th>
						<th scope="col">Tir</th>
						<th scope="col">Précision</th>
						<th scope="col">Accélération</th>
						<th scope="col">Puissance</th>
						<th scope="col">Tacle</th>
						<th scope="col">Marquage</th>
						<th scope="col">Prix</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="j : ${joueurs}" align="center">
						<td>[[ ${j.id} ]]</td>
						<td>[[ ${j.nom} ]]</td>
						<td>[[ ${j.prenom} ]]</td>
						<td>[[ ${j.age} ]]</td>
						<td>[[ ${j.poste} ]]</td>
						<td>[[ ${j.tir} ]]</td>
						<td>[[ ${j.precision} ]]</td>
						<td>[[ ${j.acceleration} ]]</td>
						<td>[[ ${j.puissance} ]]</td>
						<td>[[ ${j.tacle} ]]</td>
						<td>[[ ${j.marquage} ]]</td>
						<td>[[ ${j.prix} ]]€</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="table1">
			<div>
				<a href="menu_manager">Retour au menu Manager</a>
			</div>
		</div>
		
	</body>

</html>