<!DOCTYPE html>

<html	xmlns:th="http://www.thymeleaf.org"
		th:replace="~{layout.html :: layout(~{::title}, ~{::body})}">

	<head>
		<title>Achat Joueur</title>
	</head>

	<body class="body1">
	
		<div class="table3">
			<legend>L'EMIR VEUT GAGNER LA CHAMPION'S LEAGUE: 
			<br> Qui sera ta nouvelle pépite (selon le budget de l'émir) ?</legend>
			
			<div>
				<a style="float:right">Budget : [[${budget}]]€</a>
				<span style="text-align:center" class="error" th:if="${error!=null}" th:text="${error}"></span>
			</div>
		</div>
		
		<div class="table3">
			<table class="table">
				<thead>
					<tr align="center">
						<th scope="col">id</th>
						<th scope="col">Nom</th>
						<th scope="col">Prenom</th>
						<th scope="col">Age</th>
						<th scope="col">Poste</th>
						<th scope="col">Tir</th>
						<th scope="col">Précision</th>
						<th scope="col">Accélération</th>
						<th scope="col">Puissance</th>
						<th scope="col">Tacle</th>
						<th scope="col">Marquage</th>							
						<th scope="col">Prix</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="j : ${joueurs}" align="center">
						<td>[[ ${j.id} ]]</td>
						<td>[[ ${j.nom} ]]</td>
						<td>[[ ${j.prenom} ]]</td>
						<td>[[ ${j.age} ]]</td>
						<td>[[ ${j.poste} ]]</td>
						<td>[[ ${j.tir} ]]</td>
						<td>[[ ${j.precision} ]]</td>
						<td>[[ ${j.acceleration} ]]</td>
						<td>[[ ${j.puissance} ]]</td>
						<td>[[ ${j.tacle} ]]</td>
						<td>[[ ${j.marquage} ]]</td>
						<td>[[ ${j.prix} ]]€</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<form method="POST" action="Achat_Joueur">
			<div class="table1">
				<table class="tableau">
				 	<tr>
						<td align="center">Qui veux-tu acheter ?</td>
						<td>
							<select name="id">
								<option
								th:each="j : ${joueurs}"
								th:value="${j.id}"
								th:text="${j.nom} + ' ' + ${j.prenom} + ' (' + ${j.id} + ')'"/>
							</select>
						</td>
						<td align="center">
						<input type="submit" class="btn btn-success" value="Valider"></td>
					</tr> 
				</table>
			</div>
		</form>
		
		<input type="hidden"
                th:name="${ _csrf.parameterName }"
                th:value="${ _csrf.token }" />	
		
		<div class="table1">
			<div>
				<a href="Menu_Manager">Retour au menu Manager</a>
			</div>
		</div>

	</body>
</html>