<a id="budget" style="float:right">Budget : [[${budget}]]€</a>

<select name="id" id="select">
	<option th:each="j : ${joueurs}" th:value="${j.id}" th:text="${j.nom} + ' ' + ${j.prenom} + ' (' + ${j.id} + ')' " />
</select>


<table class="table" id="joueurs">
	<thead>
		<tr align="center">
			<th scope="col">id</th>
			<th scope="col">Nom</th>
			<th scope="col">Prenom</th>
			<th scope="col">Age</th>
			<th scope="col">Poste</th>
			<th scope="col">Tir</th>
			<th scope="col">Précision</th>
			<th scope="col">Accélération</th>
			<th scope="col">Puissance</th>
			<th scope="col">Tacle</th>
			<th scope="col">Marquage</th>
			<th scope="col">Prix</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="j : ${ joueurs }">
			<td>[[ ${j.id} ]]</td>
			<td>[[ ${j.nom} ]]</td>
			<td>[[ ${j.prenom} ]]</td>
			<td>[[ ${j.age} ]]</td>
			<td>[[ ${j.poste} ]]</td>
			<td>[[ ${j.tir} ]]</td>
			<td>[[ ${j.precision} ]]</td>
			<td>[[ ${j.acceleration} ]]</td>
			<td>[[ ${j.puissance} ]]</td>
			<td>[[ ${j.tacle} ]]</td>
			<td>[[ ${j.marquage} ]]</td>
			<td>[[ ${j.prix} ]]€</td>
		</tr>
	</tbody>
</table>