<a id="budget" style="float:right">Budget : [[${budget}]]€</a>

<select name="id" id="select" class="form-control">
	<option th:each="j : ${joueurs}" th:value="${j.id}" th:text="${j.nom} + ' ' + ${j.prenom} + ' (' + ${j.id} + ')' " />
</select>


<table class="table" id="joueurs">
	<thead>
		<tr align="center">
			<th scope="col" class="cursor" th:onclick="sortTable(0)">id</th>
			<th scope="col" class="cursor" th:onclick="sortTable(1)">Nom</th>
			<th scope="col" class="cursor" th:onclick="sortTable(2)">Prenom</th>
			<th scope="col" class="cursor" th:onclick="sortTable(3)">Age</th>
			<th scope="col" class="cursor" th:onclick="sortTable(4)">Poste</th>
			<th scope="col" class="cursor" th:onclick="sortTable(5)">Tir</th>
			<th scope="col" class="cursor" th:onclick="sortTable(6)">Précision</th>
			<th scope="col" class="cursor" th:onclick="sortTable(7)">Accélération</th>
			<th scope="col" class="cursor" th:onclick="sortTable(8)">Puissance</th>
			<th scope="col" class="cursor" th:onclick="sortTable(9)">Tacle</th>
			<th scope="col" class="cursor" th:onclick="sortTable(10)">Marquage</th>
			<th scope="col" class="cursor" th:onclick="sortTable(11)">Prix (en €)</th>
		</tr>
	</thead>
	<tbody>
		<tr align="center" th:each="j : ${ joueurs }">
			<td>[[ ${j.id} ]]</td>
			<td>[[ ${j.nom} ]]</td>
			<td>[[ ${j.prenom} ]]</td>
			<td>[[ ${j.age} ]]</td>
			<td>[[ ${j.poste} ]]</td>
			<td>[[ ${j.tir} ]]</td>
			<td>[[ ${j.precision} ]]</td>
			<td>[[ ${j.acceleration} ]]</td>
			<td>[[ ${j.puissance} ]]</td>
			<td>[[ ${j.tacle} ]]</td>
			<td>[[ ${j.marquage} ]]</td>
			<td>[[ ${j.prix}]]</td>
		</tr>
	</tbody>
</table>