<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout.html :: layout(~{::title}, ~{::body})}">
	
	
	<head>
		<title>Liste des joueurs</title>
	</head>
	
	<body class="body4">
		
		<div class="table1" style="max-height: 80vh; overflow-x: auto;">
			<legend>VOICI TES STARS</legend>
			<table class="table" id="table">
				<thead>
					<tr align="center">
						<th scope="col" class="cursor" th:onclick="sortTable(0)">id</th>
						<th scope="col" class="cursor" th:onclick="sortTable(1)">Nom</th>
						<th scope="col" class="cursor" th:onclick="sortTable(2)">Prenom</th>
						<th scope="col" class="cursor" th:onclick="sortTable(3)">Age</th>
						<th scope="col" class="cursor" th:onclick="sortTable(4)">Poste</th>
						<th scope="col" class="cursor" th:onclick="sortTable(5)">Tir</th>
						<th scope="col" class="cursor" th:onclick="sortTable(6)">Précision</th>
						<th scope="col" class="cursor" th:onclick="sortTable(7)">Accélération</th>
						<th scope="col" class="cursor" th:onclick="sortTable(8)">Puissance</th>
						<th scope="col" class="cursor" th:onclick="sortTable(9)">Tacle</th>
						<th scope="col" class="cursor" th:onclick="sortTable(10)">Marquage</th>
						<th scope="col" class="cursor" th:onclick="sortTable(11)">Prix (en €)</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="j : ${joueurs}" align="center">
						<td>[[ ${j.id} ]]</td>
						<td>[[ ${j.nom} ]]</td>
						<td>[[ ${j.prenom} ]]</td>
						<td>[[ ${j.age} ]]</td>
						<td>[[ ${j.poste} ]]</td>
						<td>[[ ${j.tir} ]]</td>
						<td>[[ ${j.precision} ]]</td>
						<td>[[ ${j.acceleration} ]]</td>
						<td>[[ ${j.puissance} ]]</td>
						<td>[[ ${j.tacle} ]]</td>
						<td>[[ ${j.marquage} ]]</td>
						<td>[[ ${j.prix} ]]</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="table1">
			<div id="1" class="cursor menu" th:if="${session.typeAccount=='Manager' }" onmouseenter="background(1)" onmouseleave="backgroundBack(1)" onclick="href('menu_manager')">
				<i class="fas fa-user-tie space"></i>Retour au menu Manager
			</div>
		</div>
		
		<script>
 			function name(n) {
				var headers = document.getElementsByTagName("th");
				var dir;
				
				for (let i = 0; i < headers.length; i++) {
					if (i!=n)
					{
						if (headers[i].innerHTML.indexOf(" ▲") >= 0){
							headers[i].innerHTML = headers[i].innerHTML.substring(0, headers[i].innerHTML.length - 2);
						} else if (headers[i].innerHTML.indexOf(" ▼") >= 0) {
							headers[i].innerHTML = headers[i].innerHTML.substring(0, headers[i].innerHTML.length - 2);
						}
					}
					else if (i==n)
					{
						if (headers[i].innerHTML.indexOf(" ▲") >= 0) {
							headers[i].innerHTML = headers[i].innerHTML.substring(0, headers[i].innerHTML.length - 2);
							headers[i].innerHTML = headers[i].innerHTML + " ▼"
							dir="desc";
						} else if (headers[i].innerHTML.indexOf(" ▼") >= 0) {
							headers[i].innerHTML = headers[i].innerHTML.substring(0, headers[i].innerHTML.length - 2);
							headers[i].innerHTML = headers[i].innerHTML + " ▲"
							dir="asc";
						} else {
							headers[i].innerHTML = headers[i].innerHTML = headers[i].innerHTML + " ▲";
							dir="asc";
						}
					}
				}
				return dir;
			}
			
			function sortTable(n) {
				var table, rows, i, j, x, y = 0;
				var dir=name(n);
				var shouldSwitch;
				
				table = document.getElementById("table");
				rows = table.rows;

				for (j = rows.length - 1; j > 1; j--) 
				{
					for (i = 1; i < j; i++)
					{
						shouldSwitch = false;
						x = rows[i].getElementsByTagName("TD")[n];
						y = rows[i + 1].getElementsByTagName("TD")[n];

						if (dir == "asc") 
						{
							if (isNaN(Number(x.innerHTML)) || isNaN(Number(y.innerHTML)))
								{
									if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
										rows[i].parentNode.insertBefore(rows[i + 1], rows[i]); 
									}	
								}
							else
							{
								if (Number(x.innerHTML) > Number(y.innerHTML) ) {
									rows[i].parentNode.insertBefore(rows[i + 1], rows[i]); 
								}								
							}	
						} else if (dir == "desc") {
							if (isNaN(Number(x.innerHTML)) || isNaN(Number(y.innerHTML)))
							{
								if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
									rows[i].parentNode.insertBefore(rows[i + 1], rows[i]); 
								}	
							}
						else
						{
							if (Number(x.innerHTML) < Number(y.innerHTML) ) {
								rows[i].parentNode.insertBefore(rows[i + 1], rows[i]); 
							}								
						}	
						}
					}
				}
			} 
		</script>
		
		<script>
			function background(id) {
				document.getElementById(id).style.transition = "all 0.05s"
				document.getElementById(id).style.background="#00BFFF";
			}
			function backgroundBack(id) {
				document.getElementById(id).style.transition = "all 0.05s"
				document.getElementById(id).style.background="white";
			}
			function href(link) {
				window.location = link;
			}
		</script>
		
	</body>

</html>