<!DOCTYPE html>
<html	xmlns:th="http://www.thymeleaf.org"
		th:replace="~{layout.html :: layout(~{::title}, ~{::body})}">

	<head>
		<title>Menu Manager</title>
	</head>
	
	<body class="body6">

		<div class="table2">
			<legend>MENU MANAGER</legend>
		</div>
		
		<div class="table2">
		
			<div class="valid" style="text-align:center" th:if="${message!=null}">
				[[${message}]]
				<br>
			</div>
			
			<div>
				<a href="liste_joueurs">Afficher la liste des joueurs inscrits</a>
				<br><br>
			</div>
			
			<div th:if="${session.managerEquipe=='Y'}">
				<a href="menu_manager/gestion_budget">Gérer son compte en banque</a>
				<br><br>
			</div>
			<div th:if="${session.managerEquipe=='Y'}">
				<a href="menu_manager/liste_joueurs_equipe">Afficher les joueurs de votre équipe</a>
				<br><br>
			</div>
			<div th:if="${session.managerEquipe=='Y'}">
				<a href="menu_manager/acheter_joueurs">Acheter un joueur</a>
				<br><br>
			</div>
			<div th:if="${session.managerEquipe=='Y'}">
				<a href="menu_manager/vendre_joueurs">Vendre un joueur</a>
				<br><br>
			</div>
			
			<div th:if="${session.managerEquipe=='N'}">
				<a href="menu_manager/creation_equipe">Créer son équipe</a>
				<br><br>
			</div>
			
			<div>
				<a href="deconnection">Se deconnecter</a>
			</div>
		</div>
	</body>
</html>

