<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout.html :: layout(~{::title}, ~{::body})}">


<head>
<title>Menu Joueur</title>
</head>

<script>
	function musicStart()
	{
		
	}

</script>


<body class="body3">

	<audio src="retraite.mp3" id="music" preload="auto" hidden="true"></audio>
	<audio src="retraite2.mp3" id="music2" preload="auto" hidden="true"></audio>

	<div class="table4">
			
		<div th:if="${session.joueurInscrit=='Y' }" class="joueur-nom">[[${session.login}]]</div>
		
		<legend>
			MENU JOUEUR </br> Que voulez-vous faire ?
		</legend>
	</div>

	<div class="table2">

		<div class="valid center" th:if="${valid!=null}">
			[[${valid}]]
			<br>
		</div>
		
		<div class="error center" th:if="${error!=null}">
			[[${error}]]
			<br>
		</div>

		<div th:if="${session.joueurInscrit=='N' }">
			<a href="menu_joueur/joueur_inscription"><i class="fas fa-user-plus space"></i> Etre éligible Joueur</a>
			<br><br>
		</div>

		<div th:if="${session.joueurInscrit=='Y' }">
			<a href="#" data-href="" data-toggle="modal" data-target="#confirmation" id="musicStart"><i class="fas fa-user-times space"></i> Prendre sa retraite</a>
			<div class="modal fade" id="confirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Veuillez confirmer</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close" id="musicStop2">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<p>Voulez-vous vraiment ranger les crampons ?</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal" id="musicStop1">Pas maintenant ...</button>
							<a class="btn btn-primary" id="retraite" href="menu_joueur/retraite">Retraite bien méritée</a>
						</div>
					</div>
				</div>
			</div>
			<br><br>
		</div>
		
		<div th:if="${session.joueurInscrit=='Y'}">
			<a href="menu_joueur/afficher_stats"><i class="far fa-address-card space"></i> Afficher mes statistiques</a> 
			<br><br>
		</div>
		
		<div th:if="${session.joueurInscrit=='Y'}">
			<a href="menu_joueur/modifier_stats"><i class="fas fa-user-edit space"></i> Modifier mes statistiques</a> 
			<br><br>
		</div>
	
		<div>
			<a href="liste_joueurs"><i class="fas fa-table space"></i>  Afficher la liste des joueurs inscrits</a>
			<br><br>
		</div>
		
		<div>
			<a href="deconnection"><i class="fas fa-sign-out-alt space"></i>  Se deconnecter</a>
		</div>
	</div>
	
	<script>

		document.getElementById('musicStart').addEventListener('click', musicStart)
		document.getElementById('musicStop1').addEventListener('click', musicStop)
		document.getElementById('musicStop2').addEventListener('click', musicStop)
		
		document.addEventListener('keydown', e => {
			if(e.keyCode == 27){
		        musicStop()
		        }
			});  
		
		function musicStart()
		{
			let sound = document.getElementById("music");
			sound.currentTime = 0;
			sound.loop = true;
			sound.play();
		}

		function musicStop()
		{
			let sound = document.getElementById("music");
			sound.pause();
		}
		
 		document.getElementById('retraite').addEventListener('click', music)
		
 		function music(e) {
			e.preventDefault();
			document.getElementById('retraite').removeEventListener('click', music);
			
			musicStop();
			
			let sound = document.getElementById("music2");
			sound.currentTime = 0;
			sound.play();
			
			setTimeout(submit,4900);

			return false;
		}
		
		function submit() {
			window.location = "menu_joueur/retraite";
		} 

	</script>
	
</body>
</html>