<!DOCTYPE html>
<html	xmlns:th="http://www.thymeleaf.org"
		th:replace="~{layout.html :: layout(~{::title}, ~{::body})}">
<head>
	<title>Modification statistiques Joueur</title>
</head>

<body class="body5">
		
		<div class="table1">
			<form id="form" method="POST" action="menu_joueur/modification_stats">
				<legend>On change quoi aujourd'hui</legend>
				<table class="table">
					<thead>
						<tr align="center">
							<td>Stat : Tir</td>
							<td>Stat : Précision</td>
							<td>Stat : Accélération</td>
						</tr>
					</thead>
					<tbody>
						<tr align="center">
							<td><input type="number" min=0 max=100 name="tir" th:id=${joueur.tir} th:value="${joueur.tir}" style="width:150px" class="form-control" placeholder="Tir"></td>
							<td><input type="number" min=0 max=100 name="precision" th:id=${joueur.precision} th:value="${joueur.precision}" style="width:150px" class="form-control" placeholder="Précision"></td>
							<td><input type="number" min=0 max=100 name="acceleration" th:id=${joueur.acceleration} th:value="${joueur.acceleration}" style="width:150px" class="form-control" placeholder="Acceleration"></td>
						</tr>
					</tbody>
					<thead>
						<tr align="center">
							<td>Stat : Puissance</td>
							<td>Stat : Tacle</td>
							<td>Stat : Marquage</td>		
						</tr>
					</thead>
					<tbody>
						<tr align="center">
							<td><input type="number" min=0 max=100 name="puissance" th:id=${joueur.puissance} th:value="${joueur.puissance}" style="width:150px" class="form-control" placeholder="Puissance"></td>
							<td><input type="number" min=0 max=100 name="tacle" th:id=${joueur.tacle} th:value="${joueur.tacle}" style="width:150px" class="form-control" placeholder="Tacle"></td>
							<td><input type="number" min=0 max=100 name="marquage" th:id=${joueur.Marquage} th:value="${joueur.Marquage}" style="width:150px" class="form-control" placeholder="Marquage"></td>	
						</tr>
					</tbody>
				</table>
								
				<input type="hidden" th:name="${ _csrf.parameterName }" th:value="${ _csrf.token }" />	
			</form>
		</div>

		
		<div style="display:flex">
			<div class="table1">
				<div id="1" class="cursor menu"  onmouseenter="background(1, '#00FF00')" onmouseleave="backgroundBack(1)" onclick="submit()"><i class="fas fa-user-edit"></i> Valider</div>
			</div>
			<div class="table1">
				<div id="2" class="cursor menu"  onmouseenter="background(2,'#00BFFF')" onmouseleave="backgroundBack(2)" onclick="href('menu_joueur')"><i class="fas fa-user space"></i>Retour au menu</div>
			</div>
		</div>
	
		<script>
			function background(id, color) {
				document.getElementById(id).style.transition = "all 0.05s"
				document.getElementById(id).style.background= color ;
			}
			function backgroundBack(id) {
				document.getElementById(id).style.transition = "all 0.05s"
				document.getElementById(id).style.background="white";
			}
			function href(link) {
				window.location = link;
			}
			function submit() {
				document.getElementById("form").submit();
			}
		</script>
	
</body>

</html>