<!DOCTYPE html>
<html	xmlns:th="http://www.thymeleaf.org"
		th:replace="~{layout.html :: layout(~{::title}, ~{::body})}">
<head>
	<title>Affichage statistiques Joueur</title>
</head>

<body class="body5">

	<form action="Menu_Joueur/ModificationStat" method="POST">

		<div class="table2">
			<legend>Voila tes statistiques mon champion</legend>
		</div>
		
		<div class="table2">
			<table class="tableau">
				<tr>
					<td colspan="2"><h4>Offensives</h4></td>
				</tr>
				<tr>
					<td>Tir : [[${joueur.tir}]] </td>
				</tr>
				<tr>
					<td>Précision : [[${joueur.precision}]]</td>
				</tr>
				<tr>
					<td colspan="2"><h4>Générales</h4></td>
				</tr>
				<tr>
					<td>Acceleration : [[${joueur.acceleration}]]</td>
				</tr>
				<tr>
					<td>Puissance : [[${joueur.puissance}]]</td>
				</tr>
				<tr>
					<td colspan="2"><h4>Défensives</h4></td>
				</tr>
				<tr>
					<td>Tacle : [[${joueur.tacle}]]</td>
				</tr>
				<tr>
					<td>Marquage : [[${joueur.marquage}]]</td>
				</tr>
			</table>
		</div>
		
		<div class="table1">
			<div>
				<a href="Menu_Joueur">Retour au menu Joueur</a>
			</div>
		</div>
	</form>
</body>

</html>