<!DOCTYPE html>
<html	xmlns:th="http://www.thymeleaf.org"
		th:replace="~{layout.html :: layout(~{::title}, ~{::body})}">
	<head>
		<title>changement stats joueur</title>
	</head>
	
	<body class="body5">
		<div class="table2">
			<legend>ALORS ON CHANGE QUOI?</legend>
		</div>
		
		<form action="menu_joueur/modification_stat" method="POST">
			<div class="table2">
				<table class="tableau"> 
					<tr>
						<td colspan="2"><h4>Offensive</h4></td>
					</tr>
					<tr>
						<td>Tir</td>	
						<td> 
							<input th:value="${joueur.tir}" class="form-control" type="number" name="tir" min="0" max="100">
						</td>
					</tr>	
					<tr>
						<td>Précision</td> 	
						<td> 
							<input th:value="${joueur.precision}" class="form-control" type="number" name="precision" min="0" max="100">
						</td>
					</tr> 	
					<tr>
						<td colspan="2"><h4>Général</h4></td>
					</tr>
					<tr>
						<td>Acceleration</td>
						<td>
							<input th:value="${joueur.acceleration}" class="form-control" type="number" name="acceleration" min="0" max="100">
						</td>
					</tr>	
					<tr>
						<td>Puissance</td>	
						<td> 
							<input th:value="${joueur.puissance}" class="form-control" type="number" name="puissance" min="0" max="100">
						</td>						
					</tr>
					 <tr>
						<td colspan="2"><h4>Défensive</h4></td>
					</tr>
					<tr>
						<td>Tacle</td> 
						<td> 
							<input th:value="${joueur.tacle}" class="form-control" type="number" name="tacle" min="0" max="100">
						</td>
					</tr>
					<tr>
						<td>Marquage</td>	
						<td> 
							<input th:value="${joueur.marquage}" class="form-control" type="number" name="marquage" min="0" max="100">
						</td>
					</tr>
				</table>
			</div>
			
			<input type="hidden"
                th:name="${ _csrf.parameterName }"
                th:value="${ _csrf.token }" />	
			
			<div class="table1">
				<div>
					<input type="submit" class="btn btn-success" value="Valider">
					<a href="menu_joueur" class="btn btn-danger" style="float:right" role="button">Retour</a>
				</div>
			</div>
		</form>
	</body>
</html>