<!DOCTYPE html>
<html	xmlns:th="http://www.thymeleaf.org"
		th:replace="~{layout.html :: layout(~{::title}, ~{::body})}">
		
	<head>
		<title>Accueil Connection</title>
	</head>
	
	<body>
		<form method="POST" action="connection">
			<div class="table2">
				<legend>BIENVENUE SUR L'APPLICATION MERCATO</legend>
			</div>
		
			<div class="table2">
			
				<div class="form-group">
					<label for="exampleInputLogin">Votre Login</label>
					<input type="text" name="login" th:value="${login}" class="form-control" required placeholder="Login" >
				</div>
				
			  	<div class="form-group">
				    <label for="exampleInputPassword">Votre password</label>
				    <input type="password" name="password" class="form-control" required placeholder="Password" >
				</div>
				
				<div class="marge">
					<input type="submit" class="btn btn-success" value="Valider">
					<span class="error" th:if="${error!=null}" th:text="${error}"></span>
					<span class="valid" th:if="${message!=null}" th:text="${message}"></span>	
				</div>		
			</div>		
						
			<div class="table1">
				<div>
					<a href="inscription">S'inscrire</a>
					<a href="reset_password">Mot de passe perdu</a>		
				</div>
			</div>
		</form>
	</body>
</html>