<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{ layout.html :: layout(~{::title}, ~{ ::body }) }">

	<head>
		<title>Liste des joueurs</title>
	</head>

	<body class="body5">
		<div class="table1">
			<table>
				<legend>ENTRE TES STATISTIQUES</legend>
			</table>
		</div>
		
		<div class="table2">
			<form action="ajoutBDD" method="POST">
				<table>
					<tr>	
						<td>Vos informations générales</td> 
						<td></td>
					</tr>	
					<tr>
						<td>Nom</td>	
						<td> 
							<input placeholder="Votre nom" type="Text" name="nom" required>
						</td>
					</tr>
					<tr>
						<td>Prénom</td> 
						<td>
							<input placeholder="Votre prénom" type="Text" name="prenom" required>
						</td>
					</tr>
					<tr>
						<td>Age</td>	
						<td> 
							<input placeholder="Votre age" type="Text" name="age"  required>
						</td>
					</tr>
					<tr>
						<td>Poste</td> 
						<td>
							<input placeholder="Votre poste" type="Text" name="poste" required>
						</td>
					</tr>
					<tr>	
						<td>Prix</td> 
						<td>
							<input placeholder="Votre prix" type="Text" name="prix" required>
						</td>
					</tr>
					<tr>
						<td>Vos stats offensives</td>
						<td></td>
					</tr>
					<tr>
						<td>Tir</td>	
						<td> 
							<input placeholder="Votre stat de tir" type="Text" name="tir" required>
						</td>
					</tr>	
					<tr>
						<td>Précision</td> 
						<td>
							<input placeholder="Votre stat de précision" type="Text" name="precision" required>
						</td>
					</tr>
					<tr>
						<td>Vos stats générales</td>
						<td></td>
					</tr>
					<tr>
						<td>Acceleration</td>	
						<td> 
							<input placeholder="Votre stat d'acceleration" type="Text" name="acceleration" required>
						</td>
					</tr>	
					<tr>
						<td>Puissance</td>	
						<td> 
							<input placeholder="Votre stat de puissance" type="Text" name="puissance" required>
						</td>
					</tr>	
					<tr>
						<td>Vos stats défensives</td>
						<td></td>
					</tr>
					<tr>
						<td>Tacle</td> 
						<td>
							<input placeholder="Votre stat de tacle" type="Text" name="tacle" required>
						</td>
					</tr>
					<tr>
						<td>Marquage</td>	
						<td> 
							<input placeholder="Votre stat de marquage" type="Text" name="marquage" required>
						</td>
					</tr>

				</table>
				<input type="submit" value="Envoyer">
			</form>	
		</div>
		<input required type="hidden" value="${session.id}" name="id">
		<input required type="hidden" value="1" name="id_equipe">

		<div class="table2">
			<a th:href="Menu_Joueur"><p>Retour au menu Joueur</p></a>
		</div>
	</body>

</html>


