<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout.html :: layout(~{::title}, ~{::body})}">
<head>
<title>Vente Joueur1</title>
</head>

<body class="body6">
	<div class="table3">
		<legend>LE QUATAR VEUT FAIRE DES ECONOMIES : 
		</br>On vire qui coach ???</legend>
	</div>

	<div class="table3">
		<legend>Voici vos joueurs monsieur : qui voulez-vous jeter dans la fosse aux lions ?</legend>
		<table class="table">
			<thead>
				<tr align="center">
					<th scope="col">id</th>
					<th scope="col">Nom</th>
					<th scope="col">Prenom</th>
					<th scope="col">Age</th>
					<th scope="col">Poste</th>
					<th scope="col">Tir</th>
					<th scope="col">Précision</th>
					<th scope="col">Accélération</th>
					<th scope="col">Puissance</th>
					<th scope="col">Tacle</th>
					<th scope="col">Marquage</th>
					<th scope="col">Prix</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="j : ${ joueurs }" align="center">
					<td>[[ ${j.id} ]]</td>
					<td>[[ ${j.nom} ]]</td>
					<td>[[ ${j.prenom} ]]</td>
					<td>[[ ${j.age} ]]</td>
					<td>[[ ${j.poste} ]]</td>
					<td>[[ ${j.tir} ]]</td>
					<td>[[ ${j.precision} ]]</td>
					<td>[[ ${j.acceleration} ]]</td>
					<td>[[ ${j.puissance} ]]</td>
					<td>[[ ${j.tacle} ]]</td>
					<td>[[ ${j.marquage} ]]</td>
					<td>[[ ${j.prix} ]]€</td>
				</tr>
			</tbody>
		</table>
	</div>

	<form method="POST" action="Vente_Joueur">
		<div class="table1">
			<table class="tableau">
				<tr>
					<td>Qui est le maillon faible ?</td>
					<td>
						<select name="id">
								<option th:each="j : ${joueurs}" th:value="${j.id}" th:text="${j.nom} + ' ' + ${j.prenom} + ' (' + ${j.id} + ')' " />
						</select>
					</td>
					<td align="center" colspan="2">
						<input type="submit" class="btn btn-success" value="Valider">
					</td>
				</tr>
			</table>
		</div>
	</form>

	<div class="table1">
		<div>
			<a href="Menu_Manager">Retour au menu Manager</a>
		</div>
	</div>
</body>

</html>