<!DOCTYPE html>
<html	xmlns:th="http://www.thymeleaf.org"
		th:replace="~{layout.html :: layout(~{::title}, ~{::body})}">

	<head>
		<title>Menu Manager</title>
	</head>
	
	<body class="body6">

		<div class="table2">
			<legend>MENU MANAGER</legend>
		</div>
		
		<div class="table2">
		
			<div class="valid" style="text-align:center" th:if="${message!=null}">
				<p>[[${message}]]</p>
			</div>
			
			<a href="Liste_Joueurs">Afficher la liste des joueurs inscrits</a>
			<br>
			<br> 
			
			<div th:if="${session.managerEquipe=='Y' }">
				<a href="Menu_Manager/gestionBudget">Gérer son compte en banque</a>
				<br>
				<br>
				<a href="Liste_Joueurs_Equipe">Afficher les joueurs de votre équipe</a>
				<br>
				<br>
				<a href="Acheter_Joueurs">Acheter un joueur</a>
				<br>
				<br>
				<a href="Vendre_Joueurs">Vendre un joueur</a>
				<br>
				<br>
			</div>
			
			<div th:if="${session.managerEquipe=='N' }">
				<a href="Menu_Manager/Creation_Equipe">Créer son équipe</a>
				<br><br>
			</div>
			
			<a href="deconnection">Se deconnecter</a>
		</div>
	</body>
</html>

