body 
{
color:black;
background-color:black;
background-image:url(TERRAIN_FOOTBALL.jpg); 
background-attachment:fixed;
background-position:center center;
background-repeat: no-repeat;
background-size : cover;
font-family:"times new roman", times, serif;
}
a
{
    color: black;
    font-family:"times new roman", times, serif;
}

#error{color :red;}

#table1 
{
	border: solid black 2px;
	background-color:white; 
 	width:40%;
}

#table2 
{
	border: solid black 2px;
	background-color:white; 
	width:40%; 
	border-collapse:collapse; 
}
#table3 
{
	border: solid black 2px;
	background-color:white; 
	width:40%; 
	border-collapse:collapse; 
}
#table4 
{
	border: solid black 2px;
	background-color:white; 
	width:40%; 
	border-collapse:collapse; 
}
#table5 
{
	border: solid black 2px;
	background-color:white; 
	width:40%; 
	border-collapse:collapse; 
}
 legend
{
 	text-align:center;
	font-weight:bold;
}