body 
{
color:black;
background-color:black;
background-image:url(TERRAIN_FOOTBALL.jpg); 
background-attachment:fixed;
background-position:center center;
background-repeat: no-repeat;
background-size : cover;
font-family:"times new roman", times, serif;

display : flex;
justify-content: center;
align-items : center; 
}
a
{
    color: black;
    font-family:"times new roman", times, serif;
}

#error{color :red;}

.table1 
{
	border: solid black 2px;
	background-color:white; 
 	width:400px;
}

.table2 
{
	border: solid black 2px;
	background-color:white; 
	width:400px; 
	border-collapse:collapse; 
}

.legend
{
 	text-align:center;
	font-weight:bold;
}